[color]
  ui = true
[user]
  name = Dave Townsend
  email = dtownsend@oxymoronical.com
[push]
  default = upstream
[core]
  excludesFile = ~/dotfiles/shared/git/gitignore
[diff]
  compactionHeuristic = true
[init]
  defaultBranch = main
