UseRoaming no
ForwardAgent yes

Host *
  ServerAliveInterval 30
  ServerAliveCountMax 2

# Github
Host github.com
  IdentityFile "~/dotfiles/shared/ssh/id_rsa_github.pub"
  IdentitiesOnly yes

# Mozilla servers
Host hg.mozilla.org
  User dtownsend@mozilla.com

Host hg.mozilla.org
  IdentityFile "~/dotfiles/shared/ssh/id_rsa_mozilla.pub"
  IdentitiesOnly yes

# DigitalOcean droplets

Host cloud
  HostName cloud.clantownsend.com

Host cloud
  IdentityFile "~/dotfiles/shared/ssh/id_rsa_digitalocean.pub"
  IdentitiesOnly yes

# Local machines
Host mandelbrot
  HostName mandelbrot.home.clantownsend.com
  User dave

Host menger
  HostName menger.home.clantownsend.com
  User dave

Host lyapunov
  HostName lyapunov
  User dave

Host mandelbrot menger lyapunov
  IdentityFile "~/dotfiles/shared/ssh/id_rsa_personal.pub"
  IdentitiesOnly yes
