UseRoaming no
ForwardAgent yes

Host *
  ServerAliveInterval 30
  ServerAliveCountMax 2

# Github
Host github.com
  IdentityFile "~/dotfiles/shared/ssh/id_rsa_github.pub"
  IdentitiesOnly yes

# Mozilla servers
Host hg.mozilla.org
  User dtownsend@mozilla.com

Host hg.mozilla.org
  IdentityFile "~/dotfiles/shared/ssh/id_rsa_mozilla.pub"
  IdentitiesOnly yes

# Online servers

Host masala
  HostName masala.clantownsend.com
  IdentityFile "~/dotfiles/shared/ssh/id_rsa_digitalocean.pub"
  IdentitiesOnly yes

Host balti
  HostName balti.clantownsend.com
  IdentityFile "~/dotfiles/shared/ssh/id_rsa_digitalocean.pub"
  IdentitiesOnly yes

Host bhuna
  HostName bhuna.clantownsend.com
  IdentityFile "~/dotfiles/shared/ssh/id_rsa_digitalocean.pub"
  IdentitiesOnly yes

# Local machines

Host tikka
  HostName tikka.clantownsend.com
  User dave

Host madras
  HostName madras.clantownsend.com
  User dave

Host ap1 ap2
  User admin

Host korma korma-win korma-linux
  User dave
  IdentityFile "~/dotfiles/shared/ssh/id_rsa_mozilla.pub"
  IdentitiesOnly yes

Host korma-win
  HostName korma-win.home.clantownsend.com

Host korma-linux
  HostName korma-linux.home.clantownsend.com

Host tikka madras ap1 ap2 ap3
  IdentityFile "~/dotfiles/shared/ssh/id_rsa_personal.pub"
  IdentitiesOnly yes
