[user]
name = "Dave Townsend"
email = "dtownsend@oxymoronical.com"

[diff.git]
context = 8

[ui]
merge-editor = "vscode"
diff-formatter = ":git"
diff-editor = "vscode"

[aliases]
br = ["util", "exec", "--", "jj-bookmark-rebase"]
update = ["util", "exec", "--", "jj-update"]
push = ["git", "push", "--tracked", "--deleted"]
tug = [
  "bookmark",
  "move",
  "--from",
  "heads(::@ & bookmarks())",
  "--to",
  "heads(::@ ~ description(exact:''))",
]
work = ["log", "--ignore-working-copy", "-r", "patches()::"]
current = [
  "log",
  "--ignore-working-copy",
  "-r",
  "ancestors(::@ & mutable(), 2)",
]

[revsets]
"log" = "present(@) | ancestors(mutable(), 2)"

[revset-aliases]
"branch()" = "branch(@)"
"branch(x)" = "(::x | x::) & mutable()"
"base()" = "base(@)"
"base(x)" = "roots(::x & mutable())"
"branch_point()" = "branch_point(@)"
"branch_point(x)" = "heads(::x & immutable())"
"patches()" = "mutable() & mine() & ~empty()"

[git]
track-default-bookmark-on-clone = false

[experimental-advance-branches]
enabled-branches = ["*"]
