--when.repositories = [
  "~/mozilla/source",
  "E:/mozilla/source",
  "F:/mozilla/source",
  "C:/Users/Dave/mozilla/source",
]

[git]
fetch = ["origin"]
push = "origin"

[remotes.origin]
auto-track-bookmarks = "glob:'work/*'"
