#! /bin/sh

ble-face syntax_error="fg=203"
ble-face auto_complete="fg=000"
ble-face syntax_param_expansion="fg=cyan"

ble-face varname_array="ref:syntax_param_expansion"
ble-face varname_empty="ref:syntax_param_expansion"
ble-face varname_export="ref:syntax_param_expansion"
ble-face varname_expr="ref:syntax_param_expansion"
ble-face varname_hash="ref:syntax_param_expansion"
ble-face varname_new="ref:syntax_param_expansion"
ble-face varname_number="ref:syntax_param_expansion"
ble-face varname_readonly="ref:syntax_param_expansion"
ble-face varname_transform="ref:syntax_param_expansion"
ble-face varname_unset="ref:syntax_param_expansion"

bleopt complete_auto_menu=500
bleopt complete_ambiguous=
bleopt complete_menu_complete=
bleopt complete_menu_complete_opts=

# Needed for VSCode integration markers
bleopt exec_exit_mark=

bind 'set mark-directories on'
bind 'set mark-symlinked-directories on'
bind 'set keyseq-timeout 1'

ble-bind -m emacs -f 'down' 'menu-complete'
ble-bind -m 'emacs' -f 'C-i' 'complete insert_common'
ble-bind -m 'emacs' -f 'TAB' 'complete insert_common'

ble-bind -m 'menu_complete' -f 'C-[' 'auto_complete/cancel'
ble-bind -m 'menu_complete' -f 'ESC' 'auto_complete/cancel'
